<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dispositivos</title>
</head>
<body>
    <h1>Dispositivos</h1>

    <div>
        <label for="dispositivoId">Id del dispositivo:</label>
        <input type="text" id="dispositivoId"/>
        <button onclick="obtenerDispo()">Obtener</button>
    </div>

    <div>
        <label for="potValue">Pot Value:</label>
        <span id="potOutput"></span>
        <label for="ledValue">LED Value:</label>
        <input type="text" id="ledValue" />
        <button onclick="actualizarDispo()">Actualizar</button>
    </div>

    <div id="output"></div>

    <script>
        async function obtenerDispo() {
            const dispositivoId = document.getElementById('dispositivoId').value;

            const response = await fetch(`https://backendesp-c2ae18e5982d.herokuapp.com/${dispositivoId}`);
            const device = await response.json();

            document.getElementById('potOutput').innerText = `Pot Value: ${device.pot}`;
            document.getElementById('output').innerHTML = JSON.stringify(device);
        }

        async function actualizarDispo() {
            const dispositivoId = document.getElementById('dispositivoId').value;
            const ledValue = document.getElementById('ledValue').value;

            const response = await fetch(`https://backendesp-c2ae18e5982d.herokuapp.com/${dispositivoId}`, {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    id: dispositivoId,
                    led: ledValue,
                }),
            });

            const actualizadoDispo = await response.json();

            document.getElementById('output').innerHTML = JSON.stringify(actualizadoDispo);
        }
    </script>
</body>
</html>
